# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\andrei\Documents\GitHub\mpp-proiect-repository-andreimateas\Proiect4\AgentieTurismJAVA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
